<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d] [%p] [%c{1}] [%t] %30.30C.%M():%L - %m%n" />
		</layout>

	</appender>


	<appender name="sgs-smp" class="org.apache.log4j.FileAppender">
		<param name="Append" value="true" />
		<param name="file" value="../logs/sfapp-web.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d] [%p] [%c{1}] [%t] %30.30C.%M():%L - %m%n" />
		</layout>
	</appender>



	<logger name="com.sf.sgs.smp.dao.mapper" additivity="true">
		<level value="DEBUG"/>
	</logger>

	<root>
		<priority value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="sgs-smp" />
	</root>

	
</log4j:configuration>