<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sf.sfpp.dao.mapper.permission.UserMapper" >
<select id="getUserByUserNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from pcomp_user
    where user_no = #{userNo,jdbcType=VARCHAR}
  </select>
  
  <select id="countUsersByUserNo" resultType="java.lang.Integer" parameterType="java.lang.String" >
  select count(*) from pcomp_user where user_no = #{userNo,jdbcType=VARCHAR}
  </select>
  
  <select id="getAllUser" resultMap="BaseResultMap" >
  	select 
    <include refid="Base_Column_List" />
    from pcomp_user
  	where 1=1
  </select>
  
  <update id="updateByUserNoSelective" parameterType="com.sf.sfpp.dao.domain.permission.User" >
    update pcomp_user
    <set >
      <if test="userNo != null" >
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null" >
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_no = #{userNo,jdbcType=VARCHAR}
  </update>
</mapper>