.col-xs-6.col-sm-4.col-md-4.col-lg-4 {
    padding-top: 5px;
    -webkit-box-shadow: 0 0 10px #D4E7DA;
    -moz-box-shadow: 0 0 10px #D4E7DA;
    box-shadow: 0 0 10px #D4E7DA;
}
.col-xs-6.col-sm-4.col-md-4.col-lg-4:hover {
    -webkit-box-shadow: 0 0 10px #0CC;
    -moz-box-shadow: 0 0 10px #0CC;
    box-shadow: 0 0 10px #0CC;
}

.col-xs-6.col-sm-4.col-md-3.col-lg-2 {
    padding-top: 5px;
    -webkit-box-shadow: 0 0 10px #C9ECD5;
    -moz-box-shadow: 0 0 10px #C9ECD5;
    box-shadow: 0 0 10px #C9ECD5;
}

.col-xs-6.col-sm-4.col-md-3.col-lg-2:hover {
    -webkit-box-shadow: 0 0 10px #74cc0f;
    -moz-box-shadow: 0 0 10px #74cc0f;
    box-shadow: 0 0 10px #74cc0f;
}

a.list-group-item.clearfix:hover {
    -webkit-box-shadow: 0 0 10px #DBFF00;
    -moz-box-shadow: 0 0 10px #DBFF00;
    box-shadow: 0 0 10px #DBFF00;
}

.btn-box-tool{
    padding: 0px;
    margin: 3px;
    background-color: transparent;
}