<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sf.sfpp.pcomp.dao.PcompVersionMapper" >
  <resultMap id="BaseResultMap" type="com.sf.sfpp.pcomp.common.model.PcompVersion" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="pcomp_software_id" property="pcompSoftwareId" jdbcType="VARCHAR" />
    <result column="version_number" property="versionNumber" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="INTEGER" />
    <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
    <result column="modified_by" property="modifiedBy" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.sf.sfpp.pcomp.common.model.PcompVersion" extends="BaseResultMap" >
    <result column="introduction" property="introduction" jdbcType="LONGVARCHAR" />
    <result column="quick_start" property="quickStart" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pcomp_software_id, version_number, is_deleted, created_time, created_by, modified_time, 
    modified_by
  </sql>
  <sql id="Blob_Column_List" >
    introduction, quick_start
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pcomp_version
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAvailableBySoftwareId" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pcomp_version
    where pcomp_software_id = #{id,jdbcType=VARCHAR}
    and is_deleted = 0
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from pcomp_version
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sf.sfpp.pcomp.common.model.PcompVersion" >
    insert into pcomp_version (id, pcomp_software_id, version_number, 
      is_deleted, created_time, created_by, 
      modified_time, modified_by, introduction, 
      quick_start)
    values (#{id,jdbcType=VARCHAR}, #{pcompSoftwareId,jdbcType=VARCHAR}, #{versionNumber,jdbcType=VARCHAR}, 
      #{isDeleted,jdbcType=BIT}, #{createdTime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=INTEGER}, 
      #{modifiedTime,jdbcType=TIMESTAMP}, #{modifiedBy,jdbcType=INTEGER}, #{introduction,jdbcType=LONGVARCHAR}, 
      #{quickStart,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sf.sfpp.pcomp.common.model.PcompVersion" >
    insert into pcomp_version
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pcompSoftwareId != null" >
        pcomp_software_id,
      </if>
      <if test="versionNumber != null" >
        version_number,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="modifiedTime != null" >
        modified_time,
      </if>
      <if test="modifiedBy != null" >
        modified_by,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="quickStart != null" >
        quick_start,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="pcompSoftwareId != null" >
        #{pcompSoftwareId,jdbcType=VARCHAR},
      </if>
      <if test="versionNumber != null" >
        #{versionNumber,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="modifiedTime != null" >
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null" >
        #{modifiedBy,jdbcType=INTEGER},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=LONGVARCHAR},
      </if>
      <if test="quickStart != null" >
        #{quickStart,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sf.sfpp.pcomp.common.model.PcompVersion" >
    update pcomp_version
    <set >
      <if test="pcompSoftwareId != null" >
        pcomp_software_id = #{pcompSoftwareId,jdbcType=VARCHAR},
      </if>
      <if test="versionNumber != null" >
        version_number = #{versionNumber,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="modifiedTime != null" >
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null" >
        modified_by = #{modifiedBy,jdbcType=INTEGER},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=LONGVARCHAR},
      </if>
      <if test="quickStart != null" >
        quick_start = #{quickStart,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sf.sfpp.pcomp.common.model.PcompVersion" >
    update pcomp_version
    set pcomp_software_id = #{pcompSoftwareId,jdbcType=VARCHAR},
      version_number = #{versionNumber,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=INTEGER},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=INTEGER},
      introduction = #{introduction,jdbcType=LONGVARCHAR},
      quick_start = #{quickStart,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sf.sfpp.pcomp.common.model.PcompVersion" >
    update pcomp_version
    set pcomp_software_id = #{pcompSoftwareId,jdbcType=VARCHAR},
      version_number = #{versionNumber,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=INTEGER},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>