<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sf.sfpp.pcomp.dao.PcompKindMapper" >
  <resultMap id="BaseResultMap" type="com.sf.sfpp.pcomp.common.model.PcompKind" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="pcomp_title_id" property="pcompTitleId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="banner_image" property="bannerImage" jdbcType="VARCHAR" />
    <result column="top_photo" property="topPhoto" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="INTEGER" />
    <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
    <result column="modified_by" property="modifiedBy" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pcomp_title_id, name, banner_image, top_photo, introduction, is_deleted, created_time, 
    created_by, modified_time, modified_by
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from pcomp_kind
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectLatest" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from pcomp_kind
    where is_deleted = 0
   order by modified_time desc
  </select>

  <select id="selectByUniqueKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from pcomp_kind
    where pcomp_title_id = #{pcompTitleId,jdbcType=VARCHAR}
    and name = #{name,jdbcType=VARCHAR}
    and is_deleted = 0
  </select>
  <select id="selectAvailabeleKindsByTitleID" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from pcomp_kind
    where pcomp_title_id = #{id,jdbcType=VARCHAR}
    and is_deleted = 0
  </select>

  <select id="selectAvailabeleKindsIDByTitleID" resultType="java.lang.String" parameterType="java.lang.String" >
    select
    id
    from pcomp_kind
    where pcomp_title_id = #{id,jdbcType=VARCHAR}
    and is_deleted = 0
  </select>
  <select id="selectAllAvailabeleKinds" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from pcomp_kind
    where is_deleted = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from pcomp_kind
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sf.sfpp.pcomp.common.model.PcompKind" >
    insert into pcomp_kind (id, pcomp_title_id, name, 
      banner_image, top_photo, introduction, 
      is_deleted, created_time, created_by, 
      modified_time, modified_by)
    values (#{id,jdbcType=VARCHAR}, #{pcompTitleId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{bannerImage,jdbcType=VARCHAR}, #{topPhoto,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, 
      #{isDeleted,jdbcType=BIT}, #{createdTime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=INTEGER}, 
      #{modifiedTime,jdbcType=TIMESTAMP}, #{modifiedBy,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sf.sfpp.pcomp.common.model.PcompKind" >
    insert into pcomp_kind
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pcompTitleId != null" >
        pcomp_title_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="bannerImage != null" >
        banner_image,
      </if>
      <if test="topPhoto != null" >
        top_photo,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="modifiedTime != null" >
        modified_time,
      </if>
      <if test="modifiedBy != null" >
        modified_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="pcompTitleId != null" >
        #{pcompTitleId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="bannerImage != null" >
        #{bannerImage,jdbcType=VARCHAR},
      </if>
      <if test="topPhoto != null" >
        #{topPhoto,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="modifiedTime != null" >
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null" >
        #{modifiedBy,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sf.sfpp.pcomp.common.model.PcompKind" >
    update pcomp_kind
    <set >
      <if test="pcompTitleId != null" >
        pcomp_title_id = #{pcompTitleId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="bannerImage != null" >
        banner_image = #{bannerImage,jdbcType=VARCHAR},
      </if>
      <if test="topPhoto != null" >
        top_photo = #{topPhoto,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="modifiedTime != null" >
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null" >
        modified_by = #{modifiedBy,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sf.sfpp.pcomp.common.model.PcompKind" >
    update pcomp_kind
    set pcomp_title_id = #{pcompTitleId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      banner_image = #{bannerImage,jdbcType=VARCHAR},
      top_photo = #{topPhoto,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=INTEGER},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>